*.vci
.metadata/
MiXiM/doc/
MiXiM/out/
MiXiM/tests/Makefile
inet/doc/
MiXiM/.csettings/
*.sqlite
.DS_Store
MiXiM/examples/Buses/omnetppini/R*.ini
MiXiM/examples/Buses/.tkenvlog
MiXiM/examples/Buses/results/
*.log
